.main h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.main h4 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 10px;
  font-weight: normal;
  margin-left: 5px;
  margin-right: 5px;
}